<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cycle Mate</title>

    <style>
        h1 {
            color: green;
        }
    </style>
</head>

<body>
    <h1>Hi {{name}}, welcome to Cycle Mate!</h1>
    <ul>
        <li>Join cycle trips and meet new people</li>
        <li>Organize your own cycle trips</li>
        <li>Engage in our community message board</li>
    </ul>

</body>

</html>